*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Play', sans-serif !important;
    background-color: #141414 !important;
    color: #eaeaea !important;
}

img{
    max-width: 100%;
}

header .bg-body-tertiary{
    background-color: #141414 !important;
}

#logo{
    height: 7rem;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
}

div.card{
    background-color: #070707 !important;
}

.contenedor_buscar_nuevo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* ESTILOS PARA SECCION JUEGOS */
.seccionJuegos td img{
    object-fit: cover;
    width: 100%;
    display: block;
    height: 400px;
}

.seccionJuegos td{
    width: 20%;
    text-align: center;
    padding: 1rem;
}

/* ESTILOS PARA SECCION PLATAFORMAS */
.seccionPlataformas img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* ESTILOS PARA CAJA COMENTARIOS */
.comentario{
    border: 1px solid grey;
    background-color: #070707;
    padding: 1rem;
    border-radius: 15px;
}

.comentario>.datos{
    border-bottom: 1px solid grey;
}

.comentario>.datos>p{
    margin-right: 2rem;
}


/* ESTILOS PARA EL FOOTER */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #070707;
    color: white;
    padding: 1rem;
}

footer a{
    color: #eaeaea;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover{
    color: white;
}

footer>div{
    margin-right: 2rem;
}