*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Play', sans-serif !important;
    background-color: #141414 !important;
    color: #eaeaea !important;
}

img{
    max-width: 100%;
}

header .bg-body-tertiary{
    background-color: #141414 !important;
}

#logo{
    height: 7rem;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
}

div.card{
    background-color: #070707 !important;
}

/* ESTILOS PARA EL FOOTER */
footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #070707;
    color: white;
    padding: 1rem;
}

footer a{
    color: #eaeaea;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover{
    color: white;
}

footer>div{
    margin-right: 2rem;
}
